# Sample secrets file - DO NOT COMMIT THIS TO GITHUB
# Copy this file to .streamlit/secrets.toml for local development

# Your API key for the Clash of Clans API
API_KEY = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjE4OTcxYTQ5LTk2ZDgtNGJlNy1hN2MwLTBkYTVhY2FmNDRlMiIsImlhdCI6MTc1NTg3MzA3OSwic3ViIjoiZGV2ZWxvcGVyL2NhNmM2NDQyLTZjYTUtZDk4ZS1mNjNiLWFkYjhmZTIwNTU3YSIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjE4OC4xMTMuOTAuMjQ2IiwiNDUuNzkuMjE4Ljc5Il0sInR5cGUiOiJjbGllbnQifV19.oPnLIGeT5uXe8_uGg5YHldNh41NL30vUOKkqKppiOyCD03JSkYUCh-5iwDTmAaiTgxRNmwWfcH8iusQshdG8mQ"
